<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mí</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/videojuegos">Todos los juegos</a> |
        <a href="/acercade">Sobre mí</a>
    </nav>

    <div class="profile-container">
        <img src="../static/perfil.jpeg" alt="Imagen de perfil" class="profile-image">
        <h1 id="present" class="present">¡Hola, soy Sebastián Errecalde!</h1>
    </div>

    <section>
        <h2>Acerca de mí</h2>
        <p>Escribe aquí una breve descripción sobre ti. Puedes incluir tus intereses, habilidades y experiencia.</p>
    </section>

    <section>
        <h2>Info de contacto</h2>
        <div class="contact-info">
            <p>Correo electrónico: <br>
            <img src="../static/email-icon.svg" alt="Email" class="social-icon"><a href="mailto:errecaldesebastianmarcelo@gmail">Click aquí</a></p>
            <p>Redes sociales: <br>
                <a href="https://github.com/cer0uno1">
                    <img src="../static/github-icon.svg" alt="GitHub" class="social-icon"> GitHub
                </a>
                <br>
                <a href="https://www.linkedin.com/in/sebasti%C3%A1n-errecalde01/">
                    <img src="../static/linkedin-icon.svg" alt="LinkedIn" class="social-icon"> LinkedIn
                </a>
            </p>
        </div>
    </section>

    <footer>Creado por Sebastián M Errecalde, Septiembre 2024</footer>
</body>
</html>