<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reseñador</title>
</head>
<body>
    <h1>Buscar un juego:</h1>
    <form method="POST">
        <input type="text" name="search" placeholder="Ingresar título del juego..." required>
        <button type="submit">Buscar</button>
    </form>
    {% if juegos %}
    <ul>
        {% for game in juegos %}
        <li><a href="{{ url_for('detallesJuego', idvideojuego=game.idvideojuegos) }}">{{ game.nombre }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
