<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Videojuegos</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/videojuegos">Todos los juegos</a> |
        {% if 'user_id' in session %}
            <a href="/perfil">Mi Perfil ({{ session['username'] }})</a> |
            {% if session['esAdmin'] %}
                <a href="/admin_dashboard">Panel de Admin</a> |
            {% endif %}
            <a href="/logout">Salir</a> |
        {% else %}
            <a href="/login">Ingreso</a> |
        {% endif %}
        <a href="/acercade">Sobre mí</a>
    </nav>  
    <main>
    <h1>Lista de Videojuegos</h1>
    <ul class="game-grid">
        <!-- Para cada videojuego que se cargó, se muestra nombre y cáratula-->
        {% for videojuego in videojuegos %}
            <li class="game-item">
                <a href="{{ url_for('detallesJuego', idvideojuego=videojuego.idvideojuegos) }}"> <!-- Se usa estos valores en un enlace, para acceder a la página de cada videojuego-->
                    <img src="/{{ videojuego.caratulalink if videojuego.caratulalink else 'static/uploads/sinimagen.png'}}" alt="{{ videojuego.nombre }}" class="game-cover">
                    <p class="game-title">{{ videojuego.nombre }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
    <p>¿No encuentras el juego que estás buscando? <a href="/agregar">Añadelo aquí</a></p>
    </body>
</main>
<footer>Creado por Sebastián M Errecalde, Septiembre 2024
<small class="cromatico">Versión 4.0</small>
</footer>
</body>
</html>
